body{
    /*background-color: yellow;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(../imagenes/fondo.jpg);
    background-size: cover;
}

h1{
    background-color: lightblue;
    text-align: center;
    border: 7px solid blue;
    padding: 15px;
}

h2{
    text-align: center;
    color: white;
    text-decoration: underline;
    font-style: italic;
}

ul{
    list-style: none;
    text-align: center;
}

li{
    background-color: white;
    border: 5px solid orange;
    display: inline-block;
    padding: 10px;
    margin: 20px;
}

a{
    color: orangered;
}